include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include todo_app_frappe *.css
recursive-include todo_app_frappe *.csv
recursive-include todo_app_frappe *.html
recursive-include todo_app_frappe *.ico
recursive-include todo_app_frappe *.js
recursive-include todo_app_frappe *.json
recursive-include todo_app_frappe *.md
recursive-include todo_app_frappe *.png
recursive-include todo_app_frappe *.py
recursive-include todo_app_frappe *.svg
recursive-include todo_app_frappe *.txt
recursive-exclude todo_app_frappe *.pyc